@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
    /* bg colors */
    --bg-primary-color: rgb(17, 17, 17);
    --bg-secondary-color: rgb(34, 34, 34);
    --bg-active-color: rgb(233, 233, 233);
    --bg-danger-color: rgb(200,50,50);
    --bg-success-color: rgb(50,200,50);

    /* text colors */
    --text-primary-color: rgb(237, 237, 237);
    --text-secondary-color: rgb(200, 200, 200);
    --text-tertiary-color: rgb(150, 150, 150);
    --text-active-color: rgb(24 24, 24);

    /* paddings */
    --padding-sm: 0.5rem;
    --padding-md: 1rem;
    --padding-lg: 1.5rem;
    --padding-xl: 2rem;
    --padding-2xl: 3rem;

    /* margin */
    --margin-sm: 0.5rem;
    --margin-md: 1rem;
    --margin-lg: 1.5rem;
    --margin-xl: 2rem;
    --margin-2xl: 3rem;

    /* gutter */
    --gutter-sm: 0.5rem;
    --gutter-md: 1rem;
    --gutter-lg: 1.5rem;
    --gutter-xl: 2rem;
    --gutter-2xl: 3rem;

    /* font sizes */
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;

    /* border radius */
    --border-radius-sm: 0.2rem;
    --border-radius-md: 0.25rem;
    --border-radius-lg: 0.3rem;
    --border-radius-xl: 0.4rem;
    --border-radius-2xl: 0.5rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

html,body{
    width:100%;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}

main{
    width: 100%;
}

main section {
    width: 100%;
    padding: var(--padding-xl);
    display: flex;
    gap: var(--gutter-lg);
}

.btn{
    padding: var(--padding-sm) var(--padding-lg);
    border: none;
    outline: none;
    border-radius: var(--border-radius-md);
    background-color: var(--bg-active-color) ;
    cursor: pointer;
    color: var(--text-active-color);
}

#reset-btn{
    background-color: var(--bg-danger-color);
    color: var(--text-primary-color);
}

#download-btn{
    background-color: var(--bg-success-color);
}

.preset-box{
    display: flex;
    flex-wrap: wrap;
    gap: var(--gutter-sm);
    justify-content: space-around;
    align-items: center;

}

main section .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gutter-lg);
    width: 65%;
}

main section .right{
    width: 35%;
    background-color: var(--bg-secondary-color);
    display: flex;
    flex-direction: column;
    gap: var(--gutter-lg);
    padding: var(--padding-lg);
    border-radius: var(--border-radius-lg);
}

main section .right .filter{
    width: 100%;
}

main section .right .filter input{
    width: 100%;
    outline: none;
    appearance: none;
    height: 3px;     
    background: transparent; 
}

main section .right .filter input::-webkit-slider-runnable-track{
    height: 3px;
    background-color: var(--bg-active-color);
    border-radius: 10px;
    
}

main section .right .filter input::-moz-range-track{
    height: 3px;
    background-color: var(--bg-active-color);
}

main section .right .filter input::-webkit-slider-thumb{
    cursor: pointer;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    margin-top: -8.5px ;
}

main section .right .filters{
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: var(--gutter-sm);
}

main section .top{
    display: flex;
    gap: var(--gutter-md);
    align-items: center;
}

main section .bottom{
    background-color: var(--bg-secondary-color);
    width: 100%;
    padding: var(--padding-xl);
    aspect-ratio: 5/3;
    border-radius: var(--border-radius-xl);
    display: flex;
    justify-content: center;
    align-items: center;
}

main section .bottom .placeholder{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gutter-md);
}

main section .bottom .placeholder i{
    font-size: 10rem;
    opacity: 0.6;
}

main section .bottom .placeholder p{
    font-size: var(--font-size-lg);
    opacity: 0.6;
}

canvas{
    max-width: 100%;
    max-height: 80vh;
}

.preset-box{
    height: 15%;
    border-radius: var(--border-radius-md);
    border: 2px solid white;
    padding: 5px;
}


@media (max-width:600px) {
    main section{
        min-height: 100vh;
        width: 100vw;
        flex-direction: column;
        padding: var(--padding-md);
    }

    main section .left{
        width: 100%;
    }

    .btn{
    padding: var(--padding-sm) var(--padding-sm);
    font-size: var(--font-size-sm);
    }

    main section .right{
    width: 100%;
    background-color: var(--bg-secondary-color);
    display: flex;
    flex-direction: column;
    gap: var(--gutter-lg);
    padding: var(--padding-lg);
    border-radius: var(--border-radius-lg);
}
}